* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 880px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

body {

}

.header {
margin-top: 27px;
}
.header-logo {
float: left;
}
.header-nav {
    float: left;
}
.header-cart {
    float: right;
}
