.preload * {
    transition: none !important;
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    background: #ffffff;
    color: #283136;
}

.header {
    padding-top: 27px;
    min-height: 435px;
    margin-bottom: 80px;
    background: #eeeeee;
}

.header-catalog {
    min-height: 330px;
}

.header-catalog h1 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.header-menu {
    margin-bottom: 40px;
}

.header-catalog .header-menu {
    margin-bottom: 60px;
}

.header-logo {
    float: left;
}

.header-nav {
    float: left;
    padding-top: 20px;
    margin-left: 160px;
}
.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-nav li,
.header-cart {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
}

.header-nav a,
.header-cart a {
    padding: 10px 20px 10px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.header-nav a:hover,
.header-cart a:hover {
    color: #fb565a;
}

.header-nav a.active::after {
    content: "";

    display: block;
    height: 2px;
    background: #fb565a;
}

.header-nav a.active:hover {
    color: #000000;
}

.header-cart {
    float: right;
    padding-top: 20px;
}

.header-slider {

}

.header-slider-item {
    position: relative;
}

.header-slider-item img {
    position: absolute;
    top: 0;
    right: 0;
}

.header-slider-item-text {
    width: 480px;
    padding-top: 25px;
}

.header-slider-item-text h2 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.header-slider-item.disable {
    display: none;
}

.btn {
    display: inline-block;
    padding: 10px 40px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background: #fb565a;
    border-radius: 2px;

}

.btn:hover {
    background: #d6494d;
}

.header-slider-item-text .btn {
    width: 240px;
    margin-top: 10px;
}

.services {
    padding-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 60px;
}
.service {
    max-width: 240px;
    float: left;
    margin-right: 80px;
}
.service:last-child {
    margin-right: 0;
}

.service h3 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
}
.service p {
    font-size: 15px;
    line-height: 22px;
}

.studio-left {
    float: left;
    width: 610px;
}

.studio-left h2 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.studio-left p {
    padding-bottom: 25px;
}

.studio-left span {
    text-transform: uppercase;
}

.studio-left ul {
    list-style: none;
}

.studio-right {
    float: right;
    width: 240px;
}

.studio-right span {
    display: inline-block;
    margin-top: 57px;
    text-transform: uppercase;
}

.studio-right ul {
    list-style: none;
}

.map {
    position: relative;
    background: url("../img/map.jpg") no-repeat 50% 50%;
    background-size: cover;
    min-height: 417px;
}

.map-text {
    position: absolute;
    top: 50%;
    margin-top: -120px;
    width: 250px;
    height: 240px;
    background: #ffffff;
    padding: 30px 20px;
}

.map-text h4 {
    margin: 0;
}
.map-text p {
    color: #666666;
}

.map-text .btn {
    width: 100%;
    margin-top: 5px;
}

footer {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-social {
    float: left;
}

.footer-text {
    float: right;
}

.footer-text h3 {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
}

.footer-text p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 10px;
}

.social-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e1e1e1;
    margin-right: 30px;

    font-size: 0;
}

aside {
    float: left;
    min-width: 240px;
    margin-right: 80px;
}

.catalog-main {
    float: left;
    max-width: 560px;
}

.main-nav {
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.main-nav a {
    color: rgba(0, 0, 0, 0.3);
    margin-left: 40px;
    text-decoration: none;
    border-bottom: 1px dotted #00ca74;
}

.form-header {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom:20px;
    padding-top: 15px;
}



.product {
    float: left;
    position: relative;
    height: 270px;
    margin-bottom: 80px;
}

.product-header {
    display: flex;
    align-items: center;
    padding: 0 6px;
    width: 240px;
    height: 30px;
    background: #f1f1f1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: background-color .15s ease-in-out;
}
.product:hover .product-header {
    background: #797979;
}
.product-header span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    border-radius: 50%;
    background: #fff;
}


.product:nth-child(2n + 1) {
    margin-right: 80px;
}

.product-popup {
    width: 200px;
    height: 200px;
    background: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 30px;
    text-align: center;
    visibility:hidden;
    opacity:0;
    transition: visibility 0s ease-in-out .15s, opacity .15s ease-in-out;
}
.product:hover .product-popup {
    visibility:visible;
    opacity: 1;
    transition-delay:0s;
}

.product-popup h4 {
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.product-popup  span {
    display: inline-block;

    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
}

.product-popup .btn {
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

/**
 * Form group
 */
.form-group {
    margin-bottom: 15px;
}

/**
 * Custom Radio
 */
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    position: relative;
    cursor: pointer;
}
input[type="radio"] + label:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #c1c1c1;
}
input[type="radio"] + label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 8px;
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #666;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}
input[type="radio"]:checked + label:after {
    transform: scale(1);
}

/**
 * Custom Checkbox
 */
/* Base for label styling */
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
}

/* checkbox aspect */
input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #c1c1c1;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
input[type="checkbox"] + label:after {
    content: '✔';
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 23px;
    font-weight: 700;
    line-height: 0.8;
    color: #666;
    transition: all .2s;
}
/* checked mark aspect changes */
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}